.container {
    background-color: coral;
    max-width: 800px;
    margin:0 auto ;
    display: grid;
    grid-template-areas:
    'header header header'
    'menu  content content' 
    'footer  footer footer';
}
.header{
    background:purple;
    height: 60px;
    grid-area: header;
}
.menu {
    background: green;
 grid-area: menu;

}
.content {
    background: aqua;
       grid-area: content;
}
.footer {
    background: pink;
    grid-area: footer;
}