.container {
    background-color: coral;
    max-width: 800px;
    margin:0 auto ;
}
.header{
    background:purple;
    height: 60px;
}
.wrapper{
    background: blue;
    

}
.menu {
    background: green;
    width: 30%;
    float: left;
  

}
.content {
    background: aqua;
    width: 70%;
    float: left;

}
.footer {
    background: pink;
    clear: both;
}